In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read our Data file with the pandas library
ca_flu_data_df = pd.read_csv("flu_ca_csv.csv")

In [3]:
ca_flu_data_df['positive'] = ca_flu_data_df['TOTAL A'] + ca_flu_data_df['TOTAL B']

In [4]:
# we only want year 2020 week 3 ~ 26 (with repect to Covid data week 3 ~ 26)
ca_flu_data_df = ca_flu_data_df[(ca_flu_data_df.YEAR>2019) & 
                                (ca_flu_data_df.WEEK>2) & 
                                (ca_flu_data_df.WEEK<27) &
                                (ca_flu_data_df.REGION=="California")]
ca_flu_data_df

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B,positive
15,States,California,2020,3,5378,1043,666,31.78,19.39,12.38,1709
16,States,California,2020,4,5835,1254,640,32.46,21.49,10.97,1894
17,States,California,2020,5,6118,1328,553,30.75,21.71,9.04,1881
18,States,California,2020,6,5778,1161,448,27.85,20.09,7.75,1609
19,States,California,2020,7,5626,1238,400,29.11,22.00,7.11,1638
20,States,California,2020,8,4833,1001,329,27.52,20.71,6.81,1330
21,States,California,2020,9,5115,951,303,24.52,18.59,5.92,1254
22,States,California,2020,10,5099,764,259,20.06,14.98,5.08,1023
23,States,California,2020,11,5073,399,106,9.95,7.87,2.09,505
24,States,California,2020,12,2944,67,20,2.96,2.28,0.68,87
25,States,California,2020,13,1736,10,3,0.75,0.58,0.17,13
26,States,California,2020,14,1162,6,3,0.77,0.52,0.26,9
27,States,California,2020,15,842,1,2,0.36,0.12,0.24,3
28,States,California,2020,16,784,0,0,0.00,0.00,0.00,0
29,States,California,2020,17,681,1,0,0.15,0.15,0.00,1
30,States,California,2020,18,470,0,0,0.00,0.00,0.00,0
31,States,California,2020,19,436,0,0,0.00,0.00,0.00,0
32,States,California,2020,20,399,1,0,0.25,0.25,0.00,1
33,States,California,2020,21,354,0,0,0.00,0.00,0.00,0
34,States,California,2020,22,257,0,0,0.00,0.00,0.00,0
35,States,California,2020,23,270,0,0,0.00,0.00,0.00,0
36,States,California,2020,24,277,0,0,0.00,0.00,0.00,0
37,States,California,2020,25,180,0,0,0.00,0.00,0.00,0
38,States,California,2020,26,88,0,0,0.00,0.00,0.00,0

In [5]:
# Removing column from table - no longer required
ca_flu_data_clean_df = ca_flu_data_df.drop(columns=['REGION TYPE', 
                                                    'TOTAL SPECIMENS',
                                                    'TOTAL A',
                                                    'TOTAL B', 
                                                    'PERCENT POSITIVE', 
                                                    'PERCENT A', 
                                                    'PERCENT B'])

# then sort according to column 'year' then 'week' both in ascending order
ca_flu_data_clean_df.sort_values(['YEAR', 'WEEK'], ascending=[True, True], 
                                 ignore_index=True, na_position='first', inplace=True)

ca_flu_data_clean_df

        REGION  YEAR  WEEK  positive
0   California  2020     3      1709
1   California  2020     4      1894
2   California  2020     5      1881
3   California  2020     6      1609
4   California  2020     7      1638
5   California  2020     8      1330
6   California  2020     9      1254
7   California  2020    10      1023
8   California  2020    11       505
9   California  2020    12        87
10  California  2020    13        13
11  California  2020    14         9
12  California  2020    15         3
13  California  2020    16         0
14  California  2020    17         1
15  California  2020    18         0
16  California  2020    19         0
17  California  2020    20         1
18  California  2020    21         0
19  California  2020    22         0
20  California  2020    23         0
21  California  2020    24         0
22  California  2020    25         0
23  California  2020    26         0

In [6]:
# rename columns
ca_flu_data_clean_df.columns = ['state', 'year', 'week', 'flu_cases']
# rearrange columns order
ca_flu_data_clean_df = ca_flu_data_clean_df[['week', 'year', 'flu_cases', 'state']]
ca_flu_data_clean_df

    week  year  flu_cases       state
0      3  2020       1709  California
1      4  2020       1894  California
2      5  2020       1881  California
3      6  2020       1609  California
4      7  2020       1638  California
5      8  2020       1330  California
6      9  2020       1254  California
7     10  2020       1023  California
8     11  2020        505  California
9     12  2020         87  California
10    13  2020         13  California
11    14  2020          9  California
12    15  2020          3  California
13    16  2020          0  California
14    17  2020          1  California
15    18  2020          0  California
16    19  2020          0  California
17    20  2020          1  California
18    21  2020          0  California
19    22  2020          0  California
20    23  2020          0  California
21    24  2020          0  California
22    25  2020          0  California
23    26  2020          0  California

In [7]:
ca_flu_data_clean_df.set_index("week", inplace=True)
ca_flu_data_clean_df

      year  flu_cases       state
week
3     2020       1709  California
4     2020       1894  California
5     2020       1881  California
6     2020       1609  California
7     2020       1638  California
8     2020       1330  California
9     2020       1254  California
10    2020       1023  California
11    2020        505  California
12    2020         87  California
13    2020         13  California
14    2020          9  California
15    2020          3  California
16    2020          0  California
17    2020          1  California
18    2020          0  California
19    2020          0  California
20    2020          1  California
21    2020          0  California
22    2020          0  California
23    2020          0  California
24    2020          0  California
25    2020          0  California
26    2020          0  California

In [10]:
ca_flu_data_clean_df.drop(columns=["year"], inplace=True)
ca_flu_data_clean_df

C:\Users\sanand\Anaconda3\envs\PythonDataViz\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      flu_cases       state
week
3          1709  California
4          1894  California
5          1881  California
6          1609  California
7          1638  California
8          1330  California
9          1254  California
10         1023  California
11          505  California
12           87  California
13           13  California
14            9  California
15            3  California
16            0  California
17            1  California
18            0  California
19            0  California
20            1  California
21            0  California
22            0  California
23            0  California
24            0  California
25            0  California
26            0  California

In [11]:
# Export file as a CSV, without the Pandas index, but with the header
ca_flu_data_clean_df.to_csv("FLU_cleaned_data.csv", index=False, header=True )

In [12]:
# Create database connection
connection_string = "postgres:postgres@localhost:5432/covid_flu_ca"
engine = create_engine(f'postgresql://{connection_string}')

In [13]:
 # Confirm tables
engine.table_names()

['covid', 'flu']

In [14]:
# Load DataFrames into database
ca_flu_data_clean_df.to_sql(name='flu', con=engine, if_exists='append', index=True)