In [34]:
# Dependencies
import pandas as pd

In [35]:
# Read our Data file with the pandas library
ca_flu_data_df = pd.read_csv("flu_ca_csv.csv")

In [38]:
ca_flu_data_df.head()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
0,States,California,2019,40,1776,18,10,1.58,1.01,0.56
1,States,California,2019,41,1887,26,11,1.96,1.38,0.58
2,States,California,2019,42,1995,27,14,2.06,1.35,0.70
3,States,California,2019,43,1964,24,33,2.90,1.22,1.68
4,States,California,2019,44,2061,44,56,4.85,2.13,2.72

In [40]:
# we only want year 2020 week 3 ~ 26 (with repect to Covid data week 3 ~ 26)
ca_flu_data_df = ca_flu_data_df[(ca_flu_data_df.YEAR>2019) & 
                                (ca_flu_data_df.WEEK>2) & 
                                (ca_flu_data_df.WEEK<27) &
                                (ca_flu_data_df.REGION=="California")]
ca_flu_data_df

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
15,States,California,2020,3,5378,1043,666,31.78,19.39,12.38
16,States,California,2020,4,5835,1254,640,32.46,21.49,10.97
17,States,California,2020,5,6118,1328,553,30.75,21.71,9.04
18,States,California,2020,6,5778,1161,448,27.85,20.09,7.75
19,States,California,2020,7,5626,1238,400,29.11,22.00,7.11
20,States,California,2020,8,4833,1001,329,27.52,20.71,6.81
21,States,California,2020,9,5115,951,303,24.52,18.59,5.92
22,States,California,2020,10,5099,764,259,20.06,14.98,5.08
23,States,California,2020,11,5073,399,106,9.95,7.87,2.09
24,States,California,2020,12,2944,67,20,2.96,2.28,0.68
25,States,California,2020,13,1736,10,3,0.75,0.58,0.17
26,States,California,2020,14,1162,6,3,0.77,0.52,0.26
27,States,California,2020,15,842,1,2,0.36,0.12,0.24
28,States,California,2020,16,784,0,0,0.00,0.00,0.00
29,States,California,2020,17,681,1,0,0.15,0.15,0.00
30,States,California,2020,18,470,0,0,0.00,0.00,0.00
31,States,California,2020,19,436,0,0,0.00,0.00,0.00
32,States,California,2020,20,399,1,0,0.25,0.25,0.00
33,States,California,2020,21,354,0,0,0.00,0.00,0.00
34,States,California,2020,22,257,0,0,0.00,0.00,0.00
35,States,California,2020,23,270,0,0,0.00,0.00,0.00
36,States,California,2020,24,277,0,0,0.00,0.00,0.00
37,States,California,2020,25,180,0,0,0.00,0.00,0.00
38,States,California,2020,26,88,0,0,0.00,0.00,0.00

In [42]:
# Removing column from table - no longer required
ca_flu_data_clean_df = ca_flu_data_df.drop(columns=['REGION TYPE', 
                                                    'TOTAL A', 
                                                    'TOTAL B', 
                                                    'PERCENT POSITIVE', 
                                                    'PERCENT A', 
                                                    'PERCENT B'])

# then sort according to column 'year' then 'week' both in ascending order
ca_flu_data_clean_df.sort_values(['YEAR', 'WEEK'], ascending=[True, True], 
                                 ignore_index=True, na_position='first', inplace=True)

ca_flu_data_clean_df

        REGION  YEAR  WEEK  TOTAL SPECIMENS
0   California  2020     3             5378
1   California  2020     4             5835
2   California  2020     5             6118
3   California  2020     6             5778
4   California  2020     7             5626
5   California  2020     8             4833
6   California  2020     9             5115
7   California  2020    10             5099
8   California  2020    11             5073
9   California  2020    12             2944
10  California  2020    13             1736
11  California  2020    14             1162
12  California  2020    15              842
13  California  2020    16              784
14  California  2020    17              681
15  California  2020    18              470
16  California  2020    19              436
17  California  2020    20              399
18  California  2020    21              354
19  California  2020    22              257
20  California  2020    23              270
21  California  2020    24              277
22  California  2020    25              180
23  California  2020    26               88

In [43]:
# rename columns
ca_flu_data_clean_df.columns = ['state', 'year', 'week', 'flu_cases']
# rearrange columns order
ca_flu_data_clean_df = ca_flu_data_clean_df[['week', 'year', 'flu_cases', 'state']]
ca_flu_data_clean_df

    week  year  flu_cases       state
0      3  2020       5378  California
1      4  2020       5835  California
2      5  2020       6118  California
3      6  2020       5778  California
4      7  2020       5626  California
5      8  2020       4833  California
6      9  2020       5115  California
7     10  2020       5099  California
8     11  2020       5073  California
9     12  2020       2944  California
10    13  2020       1736  California
11    14  2020       1162  California
12    15  2020        842  California
13    16  2020        784  California
14    17  2020        681  California
15    18  2020        470  California
16    19  2020        436  California
17    20  2020        399  California
18    21  2020        354  California
19    22  2020        257  California
20    23  2020        270  California
21    24  2020        277  California
22    25  2020        180  California
23    26  2020         88  California

In [45]:
# Export file as a CSV, without the Pandas index, but with the header
ca_flu_data_clean_df.to_csv("FLU_cleaned_data.csv", index=False, header=True )